@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

.container {
    width: 720px;
    margin: 10% auto 0;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 3%;
}
.container .img{
    width: 100%;
}
img{
    max-width: 100%;
    border-radius: 10px;
}
b {
    color: hsl(24, 5%, 18%);
}
p{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}
h1 {
    color: hsl(24, 5%, 18%);
}
h1,h2 {
    font-family: "Young Serif", serif;
    padding: 15px 0;
    font-weight: 600;
}
h2 {
    color: hsl(14, 45%, 36%);
}
h2 {
    color: hsl(332, 51%, 32%);
}
.section{
    padding: 5% 0;
}
.preparation{
    background-color: hsl(330, 100%, 98%);
    padding: 20px 25px;
    border-radius: 10px;
    margin-top: 15px
}
.preparation ul {
    padding: 0 45px;
}
.preparation ul li {
    padding: 10px 0 ;
}

.ingredients{
    padding: 20px 0;
}
.ingredients ul {
    padding: 0 30px;
}
.ingredients ul li {
    padding: 10px 0 ;
}

.instructions{
    padding: 20px 0;
}
.instructions ol {
    padding: 0 30px;
}
.instructions ol li {
    padding: 10px 0 ;
}
ol li::marker {
    color: hsl(14, 45%, 36%);
}
ul li::marker {
    color: hsl(14, 45%, 36%);
}

table {
    width: 100%
}
th, td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 10px 20px;
  }

td.second {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.attribution {
    width: 320px;
    margin: 5% auto;
    background-color: hsl(99, 82%, 68%);
    border-radius: 20px;
    padding: 2%;
    text-align: center;
}

@media (max-width: 375px) {
    .container {
        width: 300px;
        padding: 5%;
    }
}